<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<integer>0</integer>
		<key>content</key>
		<string>Go to bottom right side of the Xcode window, drag and drop a &quot;Table View&quot; on &quot;The Window...&quot;</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>width</key>
		<integer>540</integer>
		<key>height</key>
		<integer>364</integer>
		<key>imageName</key>
		<string>210.gif</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>0</integer>
		<key>content</key>
		<string> </string>
	</dict>
	<dict>
		<key>type</key>
		<integer>0</integer>
		<key>content</key>
		<string>Go to &quot;Document Outline&quot; on the left side of the Xcode window and click on &quot;Table View&quot; row to select the Table View in &quot;The Window...&quot;</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>width</key>
		<integer>540</integer>
		<key>height</key>
		<integer>319</integer>
		<key>imageName</key>
		<string>215.gif</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>0</integer>
		<key>content</key>
		<string> </string>
	</dict>
	<dict>
		<key>type</key>
		<integer>0</integer>
		<key>content</key>
		<string>Go to &quot;Utilities&quot; on the right side of the Xcode window and click on &quot;Show the Attributes inspector&quot; button then change &quot;Content Mode&quot; to &quot;Cell Based&quot; option and check &quot;Alternating Rows...&quot;</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>width</key>
		<integer>540</integer>
		<key>height</key>
		<integer>308</integer>
		<key>imageName</key>
		<string>220.gif</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>0</integer>
		<key>content</key>
		<string> </string>
	</dict>
</array>
</plist>
