<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<integer>0</integer>
		<key>content</key>
		<string>Open your AppController.j file and copy the code below inside applicationDidFinishLaunching: method...</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>2</integer>
		<key>language</key>
		<string>objc</string>
		<key>codeFileURL</key>
		<string>Resources/steps/code.objj</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>0</integer>
		<key>content</key>
		<string>That&apos;s it.</string>
	</dict>
</array>
</plist>
