<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<integer>0</integer>
		<key>content</key>
		<string>Go to &quot;Document Outline&quot; on the left side of the Xcode window...</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>0</integer>
		<key>content</key>
		<string>Right click on &quot;The Window&quot; row...</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>0</integer>
		<key>content</key>
		<string>Connect initialFirstResponder to &quot;Text Field&quot;</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>width</key>
		<integer>540</integer>
		<key>height</key>
		<integer>332</integer>
		<key>imageName</key>
		<string>200.gif</string>
	</dict>
</array>
</plist>
