<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>step</key>
		<string>Create a new project...</string>
		<key>timestamp</key>
		<integer>1526499222</integer>
		<key>baseURL</key>
		<string>../Steps/Create-a-New-Project/</string>
		<key>subStepsFileName</key>
		<string>create-a-new-project.plist</string>
	</dict>
	<dict>
		<key>step</key>
		<string>Setup the new project in the Xcode Interface Builder...</string>
		<key>timestamp</key>
		<real>1526499223</real>
		<key>baseURL</key>
		<string>../Steps/Setup-a-new-Project/</string>
		<key>subStepsFileName</key>
		<string>setup-a-new-project.plist</string>
	</dict>
	<dict>
		<key>step</key>
		<string>Open the AppController.j file...</string>
		<key>timestamp</key>
		<real>1526499225</real>
		<key>baseURL</key>
		<string>Resources/steps/</string>
		<key>subStepsFileName</key>
		<string>appcontroller.plist</string>
	</dict>
	<dict>
		<key>step</key>
		<string>Create a &quot;Label&quot;</string>
		<key>timestamp</key>
		<real>1526799226</real>
		<key>baseURL</key>
		<string>../Steps/Create-a-Label/</string>
		<key>subStepsFileName</key>
		<string>create-a-label.plist</string>
	</dict>
	<dict>
		<key>step</key>
		<string>Create a &quot;Pop Up Button&quot;</string>
		<key>timestamp</key>
		<real>1526499235</real>
		<key>baseURL</key>
		<string>../Steps/Create-a-Pop-Up-Button/</string>
		<key>subStepsFileName</key>
		<string>create-a-pop-up-button.plist</string>
	</dict>
	<dict>
		<key>step</key>
		<string>Create a &quot;Text Field&quot;</string>
		<key>timestamp</key>
		<real>1526111222</real>
		<key>baseURL</key>
		<string>../Steps/Create-a-Text-Field/</string>
		<key>subStepsFileName</key>
		<string>create-a-text-field.plist</string>
	</dict>
	<dict>
		<key>step</key>
		<string>Create a &quot;Button&quot;</string>
		<key>timestamp</key>
		<real>1526222222</real>
		<key>baseURL</key>
		<string>../Steps/Create-a-Button/</string>
		<key>subStepsFileName</key>
		<string>create-a-button.plist</string>
	</dict>
	<dict>
		<key>step</key>
		<string>Set the Pop Up Button Items...</string>
		<key>timestamp</key>
		<real>1526333235</real>
		<key>baseURL</key>
		<string>Resources/steps/</string>
		<key>subStepsFileName</key>
		<string>set-pop-up-button-items.plist</string>
	</dict>
	<dict>
		<key>step</key>
		<string>Connect the updateLabel: action to the Pop Up Button...</string>
		<key>timestamp</key>
		<real>1526555256</real>
		<key>baseURL</key>
		<string>Resources/steps/</string>
		<key>subStepsFileName</key>
		<string>connect-pop-up-button-to-action.plist</string>
	</dict>
	<dict>
		<key>step</key>
		<string>Connect the buttonClicked: action to the Button...</string>
		<key>timestamp</key>
		<real>1526199257</real>
		<key>baseURL</key>
		<string>../Steps/Create-a-Button/</string>
		<key>subStepsFileName</key>
		<string>connect-the-button-to-action.plist</string>
	</dict>
	<dict>
		<key>step</key>
		<string>Connect the _popUp outlet to the Pop Up Button...</string>
		<key>timestamp</key>
		<real>1526499332</real>
		<key>baseURL</key>
		<string>../Steps/Create-a-Pop-Up-Button/</string>
		<key>subStepsFileName</key>
		<string>connect-pop-up-outlet.plist</string>
	</dict>
	<dict>
		<key>step</key>
		<string>Connect the _textField outlet to the Text Field...</string>
		<key>timestamp</key>
		<real>1526499333</real>
		<key>baseURL</key>
		<string>../Steps/Create-a-Text-Field/</string>
		<key>subStepsFileName</key>
		<string>connect-text-field-outlet.plist</string>
	</dict>
	<dict>
		<key>step</key>
		<string>Connect the _label outlet to the Label...</string>
		<key>timestamp</key>
		<real>1526499334</real>
		<key>baseURL</key>
		<string>../Steps/Create-a-Label/</string>
		<key>subStepsFileName</key>
		<string>connect-label-outlet.plist</string>
	</dict>
</array>
</plist>
