<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<integer>0</integer>
		<key>content</key>
		<string>Go to top right side of the Xcode Interface Builder.</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>0</integer>
		<key>content</key>
		<string>Click &quot;Show the Bindings inspector&quot; button.</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>0</integer>
		<key>content</key>
		<string>You&apos;ll see &quot;Value&quot; tree, open it...</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>0</integer>
		<key>content</key>
		<string>Check &quot;Bind to&quot;</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>0</integer>
		<key>content</key>
		<string>Select &quot;Delegate from the options list...</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>0</integer>
		<key>content</key>
		<string>The &quot;Delegate&quot; option is being our AppController.j</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>0</integer>
		<key>content</key>
		<string>Go down to &quot;Model Key Path&quot; and type &quot;count&quot;</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>0</integer>
		<key>content</key>
		<string>&quot;count&quot; is being the ___count variable we&apos;ve been defined in the AppController.j</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>width</key>
		<integer>540</integer>
		<key>height</key>
		<integer>312</integer>
		<key>imageName</key>
		<string>100.gif</string>
	</dict>
</array>
</plist>
