<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<integer>0</integer>
		<key>content</key>
		<string>We asked the Outline View to reload its data in the previous step...</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>0</integer>
		<key>content</key>
		<string>Now the Outline View is going to ask back &quot;How many children will the current item have?&quot;</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>0</integer>
		<key>content</key>
		<string>We receive that question in - outlineView:numberOfChildrenOfItem: method...</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>0</integer>
		<key>content</key>
		<string>If the item is nil, it means this is the root, a CPMutableDictionary. We simply return data count...</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>0</integer>
		<key>content</key>
		<string>But If the item is not nil, it means this is an array. So we return its count...</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>0</integer>
		<key>content</key>
		<string>Copy the code below and paste it into AppController.j file...</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>2</integer>
		<key>language</key>
		<string>objc</string>
		<key>codeFileURL</key>
		<string>Resources/steps/data-source-protocol-methods-1.objj</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>0</integer>
		<key>content</key>
		<string> </string>
	</dict>
	<dict>
		<key>type</key>
		<integer>0</integer>
		<key>content</key>
		<string>Now, the Outline View needs to know what to display... </string>
	</dict>
	<dict>
		<key>type</key>
		<integer>0</integer>
		<key>content</key>
		<string>It gives us some information about its current position and its data...</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>0</integer>
		<key>content</key>
		<string>If the item is a CPString we return it directly...</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>0</integer>
		<key>content</key>
		<string>But If the item is a CPArray then it means that this is an object of a CPMutableDictionary but which one? Since our dictionary has only one key/value... we will get its first key and use it as main tree node name...</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>0</integer>
		<key>content</key>
		<string>Copy the code below and paste it into AppController.j file...</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>2</integer>
		<key>language</key>
		<string>objc</string>
		<key>codeFileURL</key>
		<string>Resources/steps/data-source-protocol-methods-2.objj</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>0</integer>
		<key>content</key>
		<string> </string>
	</dict>
	<dict>
		<key>type</key>
		<integer>0</integer>
		<key>content</key>
		<string>Since this is an Outline View, it need to know if the current item is expandable or not...</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>0</integer>
		<key>content</key>
		<string>If the object count value is greater than 0 the answer is yes, item is expandable.</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>2</integer>
		<key>language</key>
		<string>objc</string>
		<key>codeFileURL</key>
		<string>Resources/steps/data-source-protocol-methods-3.objj</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>0</integer>
		<key>content</key>
		<string>That&apos;s it.</string>
	</dict>
</array>
</plist>
