<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<integer>0</integer>
		<key>content</key>
		<string>CPUserDefaults provides a way of storing small amounts of data.</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>0</integer>
		<key>content</key>
		<string>By default, the localStorage API will be used if the browser supports it. Otherwise a cookie fallback mechanism is utilized.</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>0</integer>
		<key>content</key>
		<string>The first time that you run this code, it will save two values...</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>0</integer>
		<key>content</key>
		<string>The first is an integer count; and the second is Spider-Man.</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>0</integer>
		<key>content</key>
		<string>Open your AppController.j file and copy the code below inside applicationDidFinishLaunching: method...</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>2</integer>
		<key>language</key>
		<string>objc</string>
		<key>codeFileURL</key>
		<string>Resources/steps/code.objj</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>0</integer>
		<key>content</key>
		<string>That&apos;s it.</string>
	</dict>
</array>
</plist>
