<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>step</key>
		<string>Create a new project...</string>
		<key>timestamp</key>
		<integer>1526499222</integer>
		<key>baseURL</key>
		<string>../Steps/Create-a-New-Project/</string>
		<key>subStepsFileName</key>
		<string>create-a-new-project.plist</string>
	</dict>
	<dict>
		<key>step</key>
		<string>Setup the new project in the Xcode Interface Builder...</string>
		<key>timestamp</key>
		<real>1526499223</real>
		<key>baseURL</key>
		<string>../Steps/Setup-a-new-Project/</string>
		<key>subStepsFileName</key>
		<string>setup-a-new-project.plist</string>
	</dict>
	<dict>
		<key>step</key>
		<string>Create a Text View...</string>
		<key>timestamp</key>
		<real>1526499224</real>
		<key>baseURL</key>
		<string>../Steps/Create-a-Text-View/</string>
		<key>subStepsFileName</key>
		<string>create-a-text-view.plist</string>
	</dict>
	<dict>
		<key>step</key>
		<string>Create variables and outlets...</string>
		<key>timestamp</key>
		<real>1526499229</real>
		<key>baseURL</key>
		<string>Resources/steps/</string>
		<key>subStepsFileName</key>
		<string>create-variables-and-outlets.plist</string>
	</dict>
	<dict>
		<key>step</key>
		<string>Connect the outlet to the Text View...</string>
		<key>timestamp</key>
		<real>1526499230</real>
		<key>baseURL</key>
		<string>Resources/steps/</string>
		<key>subSteps</key>
		<array>
			<dict>
				<key>type</key>
				<integer>0</integer>
				<key>content</key>
				<string>Right click on the &quot;Delegate&quot; object...</string>
			</dict>
			<dict>
				<key>type</key>
				<integer>0</integer>
				<key>content</key>
				<string>Connect _textView outlet to &quot;Text View.&quot; After that, we&apos;ll be able to use the &quot;Text View&quot; in our code...</string>
			</dict>
			<dict>
				<key>type</key>
				<integer>1</integer>
				<key>width</key>
				<integer>540</integer>
				<key>height</key>
				<integer>337</integer>
				<key>imageName</key>
				<string>100.gif</string>
			</dict>
			<dict>
				<key>type</key>
				<integer>0</integer>
				<key>content</key>
				<string> </string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>step</key>
		<string>Set attributed text...</string>
		<key>timestamp</key>
		<real>1526499231</real>
		<key>baseURL</key>
		<string>Resources/steps/</string>
		<key>subStepsFileName</key>
		<string>set-attributed-text.plist</string>
	</dict>
</array>
</plist>
