<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>step</key>
		<string>Create a new project...</string>
		<key>timestamp</key>
		<integer>1526499222</integer>
		<key>baseURL</key>
		<string>../Steps/Create-a-New-Project/</string>
		<key>subStepsFileName</key>
		<string>create-a-new-project.plist</string>
	</dict>
	<dict>
		<key>step</key>
		<string>Setup the new project in the Xcode Interface Builder...</string>
		<key>timestamp</key>
		<real>1526499223</real>
		<key>baseURL</key>
		<string>../Steps/Setup-a-new-Project/</string>
		<key>subStepsFileName</key>
		<string>setup-a-new-project.plist</string>
	</dict>
	<dict>
		<key>step</key>
		<string>Create two Image Views...</string>
		<key>timestamp</key>
		<real>1526499224</real>
		<key>baseURL</key>
		<string>../Steps/Create-an-Image-View/</string>
		<key>subStepsFileName</key>
		<string>create-an-image-view.plist</string>
	</dict>
	<dict>
		<key>step</key>
		<string>Create variables and outlets...</string>
		<key>timestamp</key>
		<real>1526499229</real>
		<key>baseURL</key>
		<string>Resources/steps/</string>
		<key>subStepsFileName</key>
		<string>create-variables-and-outlets.plist</string>
	</dict>
	<dict>
		<key>step</key>
		<string>Connect the outlets to the Image Views...</string>
		<key>timestamp</key>
		<real>1526499230</real>
		<key>baseURL</key>
		<string>Resources/steps/</string>
		<key>subSteps</key>
		<array>
			<dict>
				<key>type</key>
				<integer>0</integer>
				<key>content</key>
				<string>Right click on the &quot;Delegate&quot; object...</string>
			</dict>
			<dict>
				<key>type</key>
				<integer>0</integer>
				<key>content</key>
				<string>Connect outlets to &quot;Image Views&quot;</string>
			</dict>
			<dict>
				<key>type</key>
				<integer>0</integer>
				<key>content</key>
				<string>After that, we&apos;ll be able to use the &quot;Image Views&quot; in our code...</string>
			</dict>
			<dict>
				<key>type</key>
				<integer>1</integer>
				<key>width</key>
				<integer>540</integer>
				<key>height</key>
				<integer>333</integer>
				<key>imageName</key>
				<string>100.gif</string>
			</dict>
			<dict>
				<key>type</key>
				<integer>0</integer>
				<key>content</key>
				<string> </string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>step</key>
		<string>Write the code...</string>
		<key>timestamp</key>
		<real>1526499231</real>
		<key>baseURL</key>
		<string>Resources/steps/</string>
		<key>subStepsFileName</key>
		<string>write-the-code.plist</string>
	</dict>
</array>
</plist>
