<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<integer>0</integer>
		<key>content</key>
		<string>CPImageView is an object designed to display CPImage objects.</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>0</integer>
		<key>content</key>
		<string>Load the CPImage...</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>0</integer>
		<key>content</key>
		<string>Set the CPImageView frame size, image, scaling and alignment options...</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>0</integer>
		<key>content</key>
		<string>Copy the code below...</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>0</integer>
		<key>content</key>
		<string>Paste it into applicationDidFinishLaunching: method in AppController.j file...</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>2</integer>
		<key>language</key>
		<string>objc</string>
		<key>codeFileURL</key>
		<string>Resources/steps/code1.objj</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>0</integer>
		<key>content</key>
		<string> </string>
	</dict>
	<dict>
		<key>type</key>
		<integer>0</integer>
		<key>content</key>
		<string>You can load a CPImage using the CPBundle object...</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>0</integer>
		<key>content</key>
		<string>Copy the code below...</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>0</integer>
		<key>content</key>
		<string>Paste it into applicationDidFinishLaunching: method in AppController.j file...</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>2</integer>
		<key>language</key>
		<string>objc</string>
		<key>codeFileURL</key>
		<string>Resources/steps/code2.objj</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>0</integer>
		<key>content</key>
		<string>That&apos;s it.</string>
	</dict>
</array>
</plist>
