<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<integer>0</integer>
		<key>content</key>
		<string>Right click on the &quot;Table View&quot;</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>0</integer>
		<key>content</key>
		<string>Click and drag &quot;dataSource&quot; outlet to &quot;Delegate&quot; object...</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>width</key>
		<integer>540</integer>
		<key>height</key>
		<integer>326</integer>
		<key>imageName</key>
		<string>101.gif</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>0</integer>
		<key>content</key>
		<string> </string>
	</dict>
	<dict>
		<key>type</key>
		<integer>0</integer>
		<key>content</key>
		<string>The &quot;Delegate&quot; object is being our automatically created AppController.j file by the capp command... </string>
	</dict>
	<dict>
		<key>type</key>
		<integer>0</integer>
		<key>content</key>
		<string>Later we&apos;ll write some code in the AppController.j file and respond to data queries of the Table View at runtime. </string>
	</dict>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>width</key>
		<integer>540</integer>
		<key>height</key>
		<integer>63</integer>
		<key>imageName</key>
		<string>102.png</string>
	</dict>
</array>
</plist>
